:root {
  --main-theme-color: #eb5757;
}

* {
  box-sizing: border-box;

  font-family: PermanentMarker;
}

body {
  padding: 0;
  margin: 0;
  
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;
}

.mint-page {
  padding: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;

  height: 100vh;
  
  .mint-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 30%;
    flex-grow: 1;

    h1 {
      font-size: 58px;
      text-align: center;
    }

    .mint-cnt {
      display: flex;
      gap: 30px;
      align-items: center;
      
      button {
        border-radius: 50%;
        width: 48px;
        height: 48px;

        border: none;
        background-color: var(--main-theme-color);

        text-align: center;
        color: white;
        font-size: 28px;

        padding-bottom: 6px;
        cursor: pointer;
      }

      div {
        width: 30px;
        text-align: center;
        font-size: 38px;
      }
    }

    .mint-btn {
      padding: 4px 50px;
      border-radius: 30px;
      margin-top: 30px;
      
      color: white;
      font-size: 28px;

      border: none;
      background-color: var(--main-theme-color);
      cursor: pointer;
    }

    p { text-align: center; }
  }

  .nft-image {
    width: 30%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 500px;
      height: auto;

      min-width: 90%;

    }
  }
}

.wallet-modal {
  padding: 10px 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  text-align: center;

  .modal-caption {
    text-align: center;
    font-size: 32px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;
    gap: 10px;

    padding: 8px 0;
    border-radius: 30px;
    border: none;
    background-color: var(--main-theme-color);

    cursor: pointer;

    img {
      height: 36px;
    }

    div {
      width: 200px;
      text-align: center;
      font-size: 22px;
      color: white;
    }
  }
}


@media screen and (max-width: 992px) {
  .mint-page {
    .nft-image {
      display: none;
    }
    p {
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 567px) {
  .mint-page {
    padding: 18px;
    
    h1 {
      font-size: 46px !important;
    }
  }
}